*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0,150,136);
    background: linear-gradient(to bottom, rgba(0,150,136,1) 20%, rgba(214,219,215,1) 20%);
}

#app{
    height: 100vh;
}

/********** GENERALI ***********/
/* FLEX */

.flex{
    display: flex;
}

.alignCenter{
    align-items: center;
}

.justifyEven{
    justify-content: space-evenly;
}

/* WIDTH*/

.w30{
    width: 30%;
}




/* CONTAINER APP */

#container{
    width: 80vw;
    margin: auto;
    
}


/* CHATBOX */

#chatBox{
    height: 100vh;
    width: 100%;
    padding: 20px 0px;
}

/* LEFT NAVBAR */

#leftNav{
    background-color: aqua;
}

#navProfile{
    justify-content: space-between;
    padding: 10px;
    background-color: #eaeaea;
}

#activeNotifica{
    background-color: #8edafc;
    padding: 10px;
}

#bellIcon{
    background-color: white;
    color: lightblue;
    display: flex;
    width: 13%;
    justify-content: center;
    border-radius: 50%;
}

.avatarBox{
    width: 50px;
    object-fit: cover;
    display: inline-block;
}

.avatarBox > img{
    width: 100%;
    border-radius: 50%;
}


#activeNotifica :last-of-type{
    padding: 3px;
}
/* CHATWINDOW */

#chatWindow{
    background-color: blueviolet;
    flex-grow: 1;
}

